@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */
.container
{
  background-color: #262626;
  width: 100%;
  color: white;
}
.navigation .wrapper
{
  max-width: 1130px;
  width: 95.84%;
  margin:0 auto;
}
header
{
  width: 100%;
}
header h1
{
  width: 368px;
  padding-top: 45px;
  padding-left: 33px;
  padding-bottom: 37px;
}
header h1 span
{
  display: none;
}
.navigation
{
  background-color: #0d0d0d;
  margin-left: 14px;
  margin-right: 10px;
}
.wrapper nav 
{
  width: 919px;
  padding-top: 33px;
  padding-left: 23px;
  padding-bottom: 33px;

}
.wrapper nav ul
{
  width: inherit;
}
.wrapper nav ul li
{
display: inline;
font-size: 18px;
padding-left: 30px;

}
.wrapper nav ul li a
{
color: white;
text-decoration: none;
text-transform: uppercase;
}
.banner
{
  width: 100%;
  padding-left: 25px;
  position: relative;
}

.banner h3  
{
  position: absolute;
  top:81px;
  font-size: 27px;
  left: 59px;
  right: 462px;
  color:#004466;
}
.banner p
{
  position: absolute;
  top: 189px;
  left: 59px;
  right: 444px;
  font-size: 16px;
  font-style:  italic;
}
.lawyersection
{
  padding-top: 43px;
  padding-left: 26px;
  padding-right:18px; 
}
.lawyersection ul
 { 
    padding-bottom: 38px;
 }

.lawyersection ul li
{
  display: inline-block;
  width: 30%;
  font-size: 15px;
  padding-right: 32px;
}
.lawyersection ul li section h4
{
  font-size: 24px;
}
.lawyersection ul li section p
{
  font-size: 13px;
  padding-top: 31px;
  padding-bottom: 15px;
}
.lawyersection ul li section a
{
  width: 70px;
  color: white;
  background-color: #004466;
  text-decoration: none;
  padding: 5px;

}
 .articles 
 {
  width: 100%;
  border-top: 1px solid white;
 }
 .articles .wrapper
 {
  width: 94.5%
  max-width:1134;
  padding-left:35px;
 }

.articles .wrapper div
{
  padding-top:35px;
  padding-left:39px;
  display: inline-block;
  width: 29%;
  float: left;
  border: 1px solid white;
  font-size: 15px;
}
 ul 
{
  list-style-type: none;
}
ul li
{
  text-decoration: none;
}

